.conversation-message {
  color: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

.visitor-message {
  background: rgba(0, 0, 0, 0.5);
}

.traveler-message {
  background: rgba(70, 70, 70, 0.5);
}